apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: pingpong-volume
          persistentVolumeClaim:
            claimName: pingpong-claim
      containers:
        - name: ping-pong
          image: benpp/ping-pong:1.11
          volumeMounts:
            - name: pingpong-volume
              mountPath: /app/logs
