apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: log-output-volume
          emptyDir: {}
      containers:
        - name: log-writer
          image: benpp/log-writer:1.10
          volumeMounts:
            - name: log-output-volume
              mountPath: /app/logs
        - name: log-server
          image: benpp/log-server:1.10
          volumeMounts:
            - name: log-output-volume
              mountPath: /app/logs
