{{ define "index.tmpl" }}
	
<html>
	<head>
		<style>
			img { max-width:500px; height:auto; }
		</style>
	</head>
	<body>
		<h1>The project App</h1>
		<img src="{{ .ImageURI }}" alt="Embedded picture">
		<form id="todo-form" action="{{ .TodoBackendURL }}/todos" method="POST" novalidate>
			<input type="text" id="todo-content" name="todo" maxlength="140">
			<button type="submit">Create todo</button>
		</form>
		<script>
		const form = document.getElementById('todo-form')
		form.addEventListener('submit', async function (e) {
			e.preventDefault()
			const formData = new FormData(form)
			const urlEncoded = new URLSearchParams()
			for (const [key, value] of formData.entries()) {
				urlEncoded.append(key, value)
			}
			try {
				const resp = await fetch('{{ .TodoBackendURL }}/todos', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
					},
					body: urlEncoded.toString()
				})
				if (resp.ok) {
					location.reload()
				}
			} catch (err) {
				// Should probably do something here :D
			}
		})
		</script>
		<h2>Todos</h2>
		<ul>
			{{ range .Todos }}
				<li>{{ .Content }}<button type="button" id="{{ .ID }}">Mark as done</button></li>
				<script>
				document.getElementById('{{ .ID }}').addEventListener('click', async () => {
					const btn = document.getElementById('{{ .ID }}')
					btn.disabled = true
					btn.textContent = 'Sending...'
					try {
						const url = '{{ $.TodoBackendURL }}/todos/{{ .ID }}'
						const resp = await fetch(url, {
							method: 'PUT',
							headers: {'Content-Type': 'application/json'},
							body: JSON.stringify({is_done: true})
						})
						if (resp.ok) {
							location.reload()
						}
					} catch (err) {
						// Should do something here also
						console.log('',err)
					}
				})
				</script>
			{{ end }}
		</ul>
		<h2>Done</h2>
		<ul>
			{{ range .DoneTodos }}
				<li>{{ .Content }}</li>
			{{ end }}
		</ul>
		<p>DevOps with Kubernetes 2025</p>
	</body>
</html>
{{ end }}
